:root {

    --white--color: #ffffff;
    --black-color: #000000;
    --grey-color: #bcbbbb;


    --font-family-serif: "Poppins",
        sans-serif;
    --font-family-dmsans: "DM Sans",
        sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {

    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-serif);
    background-color: #d2dcff54;
    outline: 3px solid red;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"] .scroller__innerreviewbox {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    /* Top Header */
    .top-header {
        overflow: hidden;
        padding: 0.7rem 1rem;
        background-color: var(--black-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.8rem;


        h1 {
            font-weight: normal;
            font-size: inherit;
            color: var(--grey-color);
        }


        .arrow-link {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            text-decoration: none;

            p {
                font-size: inherit;
                color: var(--white--color);
            }

            a {
                display: grid;
                place-items: center;
            }
        }
    }

    /* Bottom Header */
    .bottom-header {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        padding: 0.5rem 1.25rem;

        .bottom-header-container {
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;


            .varry-logo {
                width: 160px;
            }

            .header-navbar {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                ul {

                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    li {
                        list-style-type: none;

                        a {
                            color: var(--black-color);
                            text-decoration: none;
                            font-size: 0.95rem
                        }
                    }
                }

                svg {
                    display: none;
                }

                .get-started {
                    padding: 0.5rem 1rem;
                    font-size: 1rem;
                    background-color: var(--black-color);
                    color: var(--white--color);
                    border-radius: 0.5rem;

                }
            }

        }

    }
}


/*  Hero */

.hero-section {
    padding: 0 1.25rem;
    padding-top: 10rem;
    padding-bottom: 4rem;
    background-color: rgba(59, 130, 246, 0.1);
    display: flex;
    align-items: center;


    .hero-section-info-and-image-container {
        margin: 0 auto;
        max-width: 1400px;
        display: flex;
        gap: 5rem;

        .hero-section-container-info {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 50%;
            font-size: 1.25rem;

            .consult-doctors {
                display: inline-block;
                color: var(--black-color);
                text-decoration: none;
                font-size: 0.85rem;
                padding: 0.25rem 0.5rem;
                border: 1px solid var(--grey-color);
                border-radius: 0.5rem;
            }


            h1 {
                font-size: 4rem;
                line-height: 3.5rem;
                font-family: var(--font-family-dmsans);

                span {

                    color: transparent;
                    -webkit-background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                    background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                    -webkit-background-clip: text;
                    background-clip: text;
                }
            }


            p {
                font-size: inherit;
                color: rgb(1, 1, 104);
            }


            .hero-section-link {
                display: flex;
                align-items: center;
                align-content: center;
                gap: 1rem;

                .consultation-button {
                    background-color: var(--black-color);
                    color: white;
                    padding: 0.5rem 1rem;
                    font-size: inherit;
                    border-radius: 0.5rem;
                    white-space: nowrap;
                }

                button:last-of-type {
                    display: none;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    color: black;
                    font-size: inherit;
                    text-decoration: none;
                }


            }
        }

        .hero-section-container-image {

            width: 50%;

            .people-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;

            }

        }
    }
}


/* professionals Section */
.section1 {
    background-color: var(--white--color);
    padding: 2.5rem 0;

    .box1 {

        margin: 0 auto;
        max-width: 1400px;
        background-color: var(--white--color);
        padding: 0 1.25rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        font-weight: 600;
        font-size: 1rem;

        h2 {
            font-size: inherit;
            font-weight: inherit;
        }


        p {
            font-weight: inherit;
            font-size: inherit;
        }

    }

    .scroller {
        display: flex;
        overflow: hidden;
        margin: 2rem 0;
        gap: 1rem;
        mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);

        .tag-list {
            display: flex;
            gap: 2rem;
            list-style: none;
            white-space: nowrap;

            li {
                font-size: 1rem;
                white-space: nowrap;
            }
        }

    }
}


/* Programs ection*/
.section2 {
    background-color: var(--white--color);
    padding: 2rem 1.25rem;
    max-width: 1400px;
    margin: 0 auto;



    .box2-first-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2rem;

        a {
            color: var(--black-color);
            text-decoration: none;
            padding: 0.25rem 0.75rem;
            border: 1px solid var(--grey-color);
            border-radius: 0.5rem;
            font-size: 0.9rem;

        }

        h2 {
            font-size: 2.95rem;
            font-family: var(--font-family-dmsans);
            line-height: 3rem;

            span {
                color: transparent;
                background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }

        p {
            font-size: 1rem;
            line-height: 2rem;
        }
    }



    .box2-second-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .ticked-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex: 1 0 352px;
            max-width: 100%;
            gap: 1rem;
            text-align: center;
            outline: 1px solid var(--black-color);
            border-radius: 10px;
            padding: 2.5rem 1.25rem;
            font-size: 1rem;

            h3 {
                font-weight: 600;
                font-size: inherit;
            }

            .svg-box-ticked {
                width: 56px;
                height: 48px;
                display: grid;
                place-items: center;
                background-color: var(--black-color);
                border-radius: 0.35rem;

                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            p {
                font-size: inherit;
                line-height: 1.5rem;
                overflow: hidden;
            }


            a {
                color: var(--white--color);
                background-color: var(--black-color);
                text-decoration: none;
                border-radius: 0.5rem;
                font-size: inherit;
                padding: 0.5rem 1rem;
            }
        }


    }

}





/* Plans Section */

.section3 {
    padding: 0 1.25rem;
    margin: 0 auto;
    background-color: var(--white--color);
    max-width: 1400px;


    .box1-section3 {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        text-align: center;
        gap: 1.5rem;


        a {
            color: var(--black-color);
            text-decoration: none;
            padding: 0.25rem 0.75rem;
            border: 1px solid var(--grey-color);
            border-radius: 0.35rem;
            font-size: 1rem;

        }

        h2 {
            font-size: 3.5rem;
            font-family: var(--font-family-dmsans);
            line-height: 3.5rem;

            span {
                color: transparent;
                -webkit-background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }

        p {
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    .box2-section3 {
        display: flex;
        gap: 1.5rem;
        margin-top: 2rem;

        .consultation-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: flex-end;
            max-width: 500px;
            flex: 1;
            gap: 1.5rem;
            background-color: var(--black-color);
            color: var(--white--color);
            border-radius: 20px;
            padding: 2.5rem;

            .consultation-list-link {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-size: 0.85rem;
                }

                .Popular-link {
                    padding: 0 1rem;
                    border: 1px solid rgba(255, 255, 255, 0.251);
                    text-decoration: none;
                    border-radius: 15px;
                    font-size: 0.8rem;
                    -webkit-background-image: linear-gradient(to right, plum 10%, yellow 20%, cyan 40%, rgb(213, 84, 213) 60%, orange 80%, plum 90%);
                    background-image: linear-gradient(to right, plum 10%, yellow 20%, cyan 40%, rgb(213, 84, 213) 60%, orange 80%, plum 90%);
                    background-size: 300%;
                    background-clip: text;
                    color: transparent;

                }
            }

            h4 {
                font-size: 1rem;
            }

            ul {

                display: flex;
                flex-direction: column;
                gap: 1rem;


                li {

                    font-size: 0.85rem;
                    display: flex;
                    align-items: center;
                    list-style-type: none;
                    gap: 1rem;

                    svg {
                        flex-shrink: 0;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .get-started-consultation-link {

                background-color: var(--white--color);
                font-weight: 500;
                color: var(--black-color);
                text-decoration: none;
                padding: 0.5rem 1rem;
                text-align: center;
                font-size: 1rem;
                border-radius: 10px;
                justify-self: end;

            }
        }


        .membership-list {

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            max-width: 500px;
            flex: 1;
            background-color: var(--black-color);
            color: var(--white--color);
            border-radius: 30px;
            padding: 2.5rem;
            align-self: flex-end;

            .membership-list-link {

                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-size: 0.85rem;
                }




                .Popular-link {

                    padding: 0 1rem;
                    border: 1px solid rgba(255, 255, 255, 0.251);
                    text-decoration: none;
                    border-radius: 15px;
                    font-size: 0.9rem;
                    -webkit-background-image: linear-gradient(to right, plum 10%, yellow 20%, cyan 40%, rgb(213, 84, 213) 60%, orange 80%, plum 90%);
                    background-image: linear-gradient(to right, plum 10%, yellow 20%, cyan 40%, rgb(213, 84, 213) 60%, orange 80%, plum 90%);
                    background-size: 300%;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;

                }
            }

            h4 {

                font-size: 1rem;

            }


            ul {

                display: flex;
                flex-direction: column;
                gap: 1rem;


                li {

                    font-size: 0.85rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    list-style-type: none;

                    svg {
                        flex-shrink: 0;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .get-started-consultation-link1 {

                background-color: var(--white--color);
                font-weight: 500;
                color: var(--black-color);
                text-decoration: none;
                padding: 0.5rem 1rem;
                text-align: center;
                font-size: 1rem;
                border-radius: 10px;
                justify-self: end;
            }
        }

        .elderly-list {

            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 1.5rem;
            max-width: 500px;
            background-color: var(--black-color);
            color: var(--white--color);
            border-radius: 30px;
            padding: 2.5rem;
            align-self: flex-end;
            justify-content: center;

            .elderly-list-link {

                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-size: 0.85rem;
                }

                .Popular-link {
                    padding: 0 1rem;
                    border: 1px solid rgba(255, 255, 255, 0.251);
                    text-decoration: none;
                    border-radius: 15px;
                    font-size: 0.9rem;
                    -webkit-background-image: linear-gradient(to right, plum 10%, yellow 20%, cyan 40%, rgb(213, 84, 213) 60%, orange 80%, plum 90%);
                    background-image: linear-gradient(to right, plum 10%, yellow 20%, cyan 40%, rgb(213, 84, 213) 60%, orange 80%, plum 90%);
                    background-size: 300%;
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }

            h4 {
                font-size: 1rem;
            }


            ul {

                display: flex;
                flex-direction: column;
                gap: 1rem;


                li {
                    font-size: 0.85rem;
                    display: flex;
                    align-items: center;
                    gap: 0.85rem;
                    list-style-type: none;

                    svg {
                        flex-shrink: 0;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .get-started-consultation-link2 {
                background-color: var(--white--color);
                font-weight: 500;
                color: var(--black-color);
                text-decoration: none;
                padding: 0.5rem 1rem;
                text-align: center;
                font-size: 1rem;
                border-radius: 10px;
                justify-self: end;

            }
        }


    }

}


/* SECTION 4*/
.section4 {

    padding: 2.75rem 1.25rem;
    background-color: var(--white--color);
    max-width: 1400px;
    margin: 0 auto;
    position: relative;





    .box1-section4 {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 auto;


        a {

            color: var(--black-color);
            text-decoration: none;
            padding: 0.25rem 0.75rem;
            border: 1px solid var(--grey-color);
            border-radius: 0.35rem;
            font-size: 1rem;


        }

        h2 {

            font-size: 3.4rem;
            font-family: var(--font-family-dmsans);
            margin: 1rem 0;

            span {
                color: transparent;
                -webkit-background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }

        p {
            font-size: 1.2rem;
        }


    }


    .review-container {
        gap: 2rem;
        display: flex;
        overflow-y: scroll;
        margin: 0 auto;
        margin-top: 4rem;


        .review-box {
            height: 38rem;
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .box {
                height: 100%;
                padding: 2rem 1rem;
                border: 1px solid black;
                list-style: none;
                border-radius: 20px;
                -webkit-box-shadow: 0px 7px 14px #eaeaea;
                box-shadow: 0px 7px 14px #eaeaea;

                p {
                    margin-bottom: 2rem;
                    font-size: 1rem;
                    line-height: 2rem;

                }

                .profile-div {

                    gap: 1rem;
                    display: flex;
                    align-items: center;

                    .profile-image {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
        }


    }
}



/* Contact Us */
.section5 {

    padding: 6rem 1.25rem;
    -webkit-background: linear-gradient(var(--white--color), #d2dcff);
    background: linear-gradient(var(--white--color), #d2dcff);



    .box {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;

        h2 {
            font-size: 3.2rem;
            font-family: var(--font-family-dmsans);
            line-height: 3.5rem;
            text-align: center;

            span {
                color: transparent;
                -webkit-background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }

        p {

            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;

        }

        .contact-us {

            display: flex;
            gap: 1rem;
            font-size: 1rem;

            a {
                background-color: var(--black-color);
                color: var(--white--color);
                text-decoration: none;
                font-size: inherit;
                padding: 0.5rem;
                border-radius: 0.35rem;
            }

            a:nth-child(3),
            a:nth-child(4) {
                display: none;
            }

        }
    }

}


/* Faq */
.section6 {

    background-color: white;
    padding: 4.5rem 1.25rem;



    .box1-faq {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        gap: 2rem;

        a {

            color: var(--black-color);
            text-decoration: none;
            padding: 0.25rem 0.75rem;
            border: 1px solid var(--grey-color);
            border-radius: 0.35rem;
            font-size: 1rem;

        }

        h2 {
            font-size: 3.2rem;
            font-family: var(--font-family-dmsans);
            line-height: 3.5rem;

            span {
                color: transparent;
                -webkit-background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                background: linear-gradient(#000000 35%, rgb(1, 1, 104) 40%);
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }

    .box2-faq {

        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 3rem;
        width: 80%;

        .minus-svg,
        .plus-svg {
            flex-shrink: 0;
        }

        .faq {



            .faq-icon {
                display: flex;
                align-items: center;
                justify-content: space-between;


                h3 {
                    font-size: 1.1rem;
                    font-weight: 600;
                }


            }

            .faq-answer {
                font-size: 1rem;
                margin: 1rem 0;
            }

            hr {
                margin: 1rem 0;
            }

        }

    }

}

.hidden {
    display: none;
}




/* Footer */
.footer {
    color: var(--white--color);
    background-color: var(--black-color);
    padding: 2.5rem 0;
    display: grid;
    place-items: center;
    gap: 2rem;

    .footer-box1 {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        max-width: 1400px;

        ul {

            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            li {

                list-style: none;

                a {

                    text-decoration: none;
                    color: var(--white--color);
                    font-size: 1rem;
                }

            }
        }


        .socials-link {

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;

        }
    }

    .footer-box2 {

        width: 100%;
        overflow: hidden;

        .footer-img {


            width: 100%;
            object-fit: contain;

        }
    }
}

/* Desktop View */
@media only screen and (max-width:1100px) {

    /* Header */
    header .bottom-header .bottom-header-container .header-navbar ul {
        display: none;
    }

    header .bottom-header .bottom-header-container .header-navbar svg {
        display: block;
    }

    /* Hero */
    .hero-section {
        padding-top: 10rem;
    }

    main .hero-section .hero-section-info-and-image-container {
        flex-direction: column;

        .hero-section-container-info {
            width: 100%;
        }

        .hero-section-container-image {
            align-self: center;
            width: 60%;
        }
    }

    main .hero-section .hero-section-container .hero-section-info-and-image-container .hero-section-container-info {
        font-size: 1rem;

        .consult-doctors {
            font-size: 0.85rem;
        }

    }

    /* Programs */
    .section2 .box2-first-container {

        h2 {
            font-size: 2.75rem;
            font-size: 2.75rem;
        }
    }

    /* Plans */
    .section3 .box1-section3 {
        h2 {
            font-size: 2.75rem;
            line-height: 2.75rem;
        }
    }

    .section3 .box2-section3 {
        flex-direction: column;

        .consultation-list,
        .membership-list,
        .elderly-list {
            align-self: center;
        }
    }

    /*  Reviews  */
    .section4 {
        .box1-section4 {
            h2 {
                font-size: 2.85rem;
            }
        }

        .review-container {

            .review-box:first-of-type {
                display: none;
            }
        }
    }

    /* Contact US */

    .section5 .box h2 {
        font-size: 2.85rem;
        line-height: 2.85rem;
    }

    .section5 .box .contact-us {
        font-size: 0.85rem;

        a:nth-child(1),
        a:nth-child(2) {
            text-align: center;
            display: none;
        }

        a:nth-child(2),
        a:nth-child(3) {
            text-align: center;
            display: block;
        }

    }

    /* Faq */
    .section6 .box1-faq h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

/* Custom Break Point */
@media only screen and (max-width:750px) {

    /*  Reviews  */
    .section4 .review-container .review-box:last-of-type {
        display: none;
    }


}


/* Mobile View */
@media only screen and (max-width:600px) {
    header .top-header {
        gap: o.25rem;
        padding: 0.7rem 0.15rem;
    }

    header .top-header h1 {
        display: none;

    }

    header .bottom-header .bottom-header-container .header-navbar .get-started {
        display: none;
    }


    /* Hero */

    main .hero-section .hero-section-info-and-image-container {
        .hero-section-container-info {
            width: 100%;

            h1 {
                font-size: 2.85rem;
                line-height: 3rem;
            }
        }

        .hero-section-container-image {
            width: 100%;
        }
    }

    /* Programs  */
    .section2 .box2-container .box2-first-container {
        width: 100%;
    }

    .section2 .box2-container .box2-second-container .ticked-box {
        font-size: 0.85rem;
    }

    /* Plans */
    .section3 .box1-section3 {
        width: 100%;
    }


    /* Contact US */
    .section5 .box {
        width: 100%;
    }

    /* Faq */
    .section6 .box1-faq {
        width: 100%;
    }

    .section6 .box2-faq {
        width: 100%;
    }
}